<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.KGMS.mapper.CandidateOntologyClassMapper">
    <resultMap id="CandidateOntologyClassResultMap" type="com.group.KGMS.entity.CandidateOntologyClass">
        <result column="id" property="id"/>
        <result column="class_name" property="name" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId"/>
    </resultMap>
    <!--  List<CandidateOntologyClass> getClassByCandidateOntologyId(Integer CandidateOntologyId);  -->
    <select id="getClassByCandidateOntologyId" resultType="com.group.KGMS.entity.CandidateOntologyClass" resultMap="CandidateOntologyClassResultMap">
        select id,class_name,parent_id from candidate_onto_class where belong_candidate_id = #{CandidateOntologyId}
    </select>

</mapper>
