<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.KGMS.mapper.CandidateOntologyTripleMapper">
    <resultMap id="CandidateOntologyTripleResultMap" type="com.group.KGMS.entity.CandidateOntologyTriple">
        <result column="id" property="id"/>
        <result column="head_class_id" property="headClassId"/>
        <result column="tail_class_id" property="tailClassId"/>
        <result column="relation_id" property="relationId"/>
        <result column="belong_candidate_id" property="belongCandidateOntologyId"/>
    </resultMap>
</mapper>
