<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.KGMS.mapper.CandidateTripleMapper">
    <resultMap id="CandidateTripleResultMap" type="com.group.KGMS.entity.CandidateTriple">
        <result column="head" property="head" jdbcType="VARCHAR"/>
        <result column="relation" property="relation" jdbcType="VARCHAR"/>
        <result column="tail" property="tail" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="DATE"/>
        <result column="head_category" property="headCategory" jdbcType="VARCHAR"/>
        <result column="tail_category" property="tailCategory" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="source" property="source" jdbcType="VARCHAR"/>
    </resultMap>
    <update id="updateCandidateTripleById">
        update candidate_triples
        <set>
            head=#{head},relation=#{relation},tail=#{tail},head_category=#{head_category},tail_category=#{tail_category}
        </set>
        <where>
            id=#{id}
        </where>
    </update>
    <delete id="deleteCandidateTripleById">
        delete from candidate_triples where id = #{id}
    </delete>
    <select id="getTriplesList" resultType="com.group.KGMS.entity.CandidateTriple" resultMap="CandidateTripleResultMap">
        select * from candidate_triples
    </select>
    <select id="getTriplesListWithTimeLimit" resultType="com.group.KGMS.entity.CandidateTriple">
        select * from candidate_triples where time &gt;= #{startTime} and time &lt;= #{endTime}
    </select>
    <select id="getTriplesListWithSourceLimit" resultType="com.group.KGMS.entity.CandidateTriple">
        select * from candidate_triples where source = #{source}
    </select>
    <select id="getTriplesListWithSourceAndTimeLimit" resultType="com.group.KGMS.entity.CandidateTriple">
        select * from candidate_triples where time &gt;= #{startTime} and time &lt;= #{endTime} and source = #{source}
    </select>
</mapper>