<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.KGMS.mapper.EntityMapper">
    <resultMap id="TripleResultMap" type="com.group.KGMS.entity.Entity">
        <result column="id" property="id"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="category" property="category" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="insertNewEntity" keyProperty="id" useGeneratedKeys = "true">
        insert into all_entity(name,category) values
        (#{name},#{category})
    </insert>
    <insert id="insertNewCorrelationForEachTriple">
        insert into triple_ids(triple_id,head_id,tail_id,relation_id) values
        (#{triple_id},#{head_id},#{tail_id},#{relation_id})
    </insert>
    <select id="selectAllEntity" resultType="com.group.KGMS.entity.Entity">
        select * from all_entity
    </select>
    <select id="ifEntityExists" resultType="java.lang.Long">
        select id from all_entity
        <where>
            name =#{name}
        </where>
    </select>
    <select id="selectSpecificCorrelation" resultType="java.util.Map">
        select * from triple_ids
        <where>
            triple_id=#{triple_id}
        </where>
    </select>
    <select id="selectEntityIntangibly" resultType="java.lang.String">
        select head from core_kg
        <where> head like concat('%',#{restrict},'%') </where>
        UNION
        select tail from core_kg
        <where> tail like concat('%',#{restrict},'%') </where>
    </select>

</mapper>