<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.KGMS.mapper.PersonMapper">
    <select id="findAllPerson" resultType="com.group.KGMS.entity.T_person">
        select * from t_person
    </select>
    <select id="findByPlanid" parameterType="int" resultType="com.group.KGMS.entity.T_person">
        select * from t_person where plan_id = #{plan_id} and (task_id is null or task_id = '')
    </select>
    <select id="findByTaskid" parameterType="int" resultType="com.group.KGMS.entity.T_person">
        select * from t_person where task_id = #{task_id}
    </select>
    <select id="maxid" resultType="int">
        select max(id) from t_person
    </select>
    <select id="search" parameterType="com.group.KGMS.entity.RuleForm" resultType="com.group.KGMS.entity.T_person">
        select * from t_person where ${key} like concat('%',#{value},'%')
    </select>
    <select id="findById" parameterType="int" resultType="com.group.KGMS.entity.T_person">
        select * from t_person where id = #{id}
    </select>
    <insert id="save" parameterType="com.group.KGMS.entity.T_person" >
        insert into t_person(name_cn,name_en,gender,picture,address)
        values(#{name_cn},#{name_en},#{gender},#{picture},#{address})
    </insert>
    <update id="update" parameterType="com.group.KGMS.entity.T_person" >
        update t_person
        <set>
            name_cn= #{name_cn},
            name_en=#{name_en},
            gender=#{gender},
            picture=#{picture},
            address=#{address}
        </set>
        where id = #{id}
    </update>
    <update id="updateplan" parameterType="com.group.KGMS.entity.T_person" >
        update t_person
        <set>
            plan_id = #{plan_id}
        </set>
        where id = #{id}
    </update>
    <delete id="delete" parameterType="int" >
        delete from t_person where id = #{id}
    </delete>
    <insert id="saveedu" parameterType="com.group.KGMS.entity.T_education">
        insert into t_education(start_time,finish_time,major,degree,person_id)
        values(#{start_time},#{finish_time},#{major},#{degree},#{person_id})
    </insert>
    <insert id="saveresume" parameterType="com.group.KGMS.entity.T_resume">
        insert into t_resume(start_time,end_time,department,title,person_id)
        values(#{start_time},#{end_time},#{department},#{title},#{person_id})
    </insert>
    <select id="searchedu" parameterType="int" resultType="com.group.KGMS.entity.T_education">
        select * from t_education where person_id = #{person_id}
    </select>
    <select id="searchresu" parameterType="int" resultType="com.group.KGMS.entity.T_resume">
        select * from t_resume where  person_id = #{person_id}
    </select>
    <delete id="deleteedu" parameterType="int" >
        delete from t_education where person_id = #{person_id}
    </delete>
    <delete id="deleteresu" parameterType="int" >
        delete from t_resume where person_id = #{person_id}
    </delete>
    <update id="deleteTaskid" parameterType="int" >
        update t_person
        <set>
            task_id = null
            plan_id = null
        </set>
        where task_id = #{task_id}
    </update>
    <update id="saveTaskid" parameterType="int" >
        update t_person
        <set>
            task_id = #{task_id}
            plan_id = #{plan_id}
        </set>
        where id = #{id}
    </update>
</mapper>
