<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.KGMS.mapper.PlanMapper">
    <select id="findAllPlan" resultType="com.group.KGMS.entity.T_plan">
        select * from t_plan
    </select>
    <select id="search" parameterType="com.group.KGMS.entity.RuleForm" resultType="com.group.KGMS.entity.T_plan">
        select * from t_plan where ${key} like concat('%',#{value},'%')
    </select>
    <select id="maxid" resultType="int">
        select max(id) from t_plan
    </select>
    <select id="findById" parameterType="int" resultType="com.group.KGMS.entity.T_plan">
        select * from t_plan where id = #{id}
    </select>
    <insert id="save" parameterType="com.group.KGMS.entity.T_plan" >
        insert into t_plan(plan_name,start_time,end_time,plan_status)
        values(#{plan_name},#{start_time},#{end_time},#{plan_status})
    </insert>
    <update id="update" parameterType="com.group.KGMS.entity.T_plan" >
        update t_plan
        <set>
            plan_name= #{plan_name},
            start_time=#{start_time},
            end_time=#{end_time},
            plan_status=#{plan_status},
        </set>
        where id = #{id}
    </update>
    <delete id="delete" parameterType="int" >
        delete from t_plan where id = #{id}
    </delete>
</mapper>
