<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.KGMS.mapper.RelationMapper">
    <resultMap id="TripleResultMap" type="com.group.KGMS.entity.Relation">
        <result column="id" property="id"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="insertNewRelation" keyProperty="id" useGeneratedKeys = "true" >
        insert into all_relation(name) values
        (#{name})
    </insert>
    <select id="getAllRelation" resultType="com.group.KGMS.entity.Relation">
        select * from all_relation
    </select>
    <select id="ifRelationExists" resultType="java.lang.Long">
        select id from all_relation
        <where>
            name = #{name}
        </where>
    </select>
    <select id="selectRelationIntangibly" resultType="java.lang.String">
        select relation from core_kg
        <where> relation like concat('%',#{restrict},'%') </where>
    </select>
</mapper>