<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.KGMS.mapper.TripleMapper">
    <resultMap id="TripleResultMap" type="com.group.KGMS.entity.Triple">
        <result column="id" property="id"/>
        <result column="head" property="head" jdbcType="VARCHAR"/>
        <result column="relation" property="relation" jdbcType="VARCHAR"/>
        <result column="tail" property="tail" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="DATE"/>
        <result column="candidate_id" property="candidateId"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="insertCandidateTripleIntoTriple" keyProperty="id" useGeneratedKeys = "true">
        insert into all_triples(head,relation,tail,time, candidate_id,status) values
        (#{head}, #{relation}, #{tail}, #{time}, #{candidateId}, #{status})
    </insert>
    <insert id="insertMergeChange">
        insert ignore into core_kg(head,relation,tail,time) values (#{head}, #{relation}, #{tail},#{time})
    </insert>
    <insert id="insertCompletionChange">
        insert ignore into core_kg(head,relation,tail,time) values (#{head}, #{relation}, #{tail},#{time})
    </insert>
    <update id="updateCandidateIdOfTriple" >
        UPDATE all_triples
        <set>
            candidate_id = #{newCandidateId}
        </set>
         <where>
            id=#{tripleId}
         </where>
    </update>
    <delete id="deleteCandidateTriples">
        delete from candidate_triples where id = #{id}
    </delete>
    <select id="getAllTriple" resultType="com.group.KGMS.entity.Triple" resultMap="TripleResultMap">
        select * from all_triples
    </select>
    <select id="getAllTriplesFromSameCandidateKg" resultType="com.group.KGMS.entity.Triple" resultMap="TripleResultMap">
        select * from all_triples where candidate_id = #{candidateId}
    </select>
</mapper>