<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.KGMS.mapper.UnstructuredTextMapper">
    <select id="getAllUnStructuredText" resultType="java.util.Map">
        select * from unstructured_text
    </select>
</mapper>