<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.KGMS.mapper.VersionMapper">
    <insert id="insertNewVersion">
       insert into  version_record(version_number,name,submit_time,submitted_by) values
        (#{version_number}, #{name}, #{submit_time}, #{submitted_by})
    </insert>
    <delete id="deleteVersionById">
        delete from table version_record where version_number=#{version_number}
    </delete>
    <select id="getAllVersion" resultType="java.util.Map">
        select * from version_record
    </select>
    <select id="getAllMergeById" resultType="java.util.Map">
        select * from version_merge_detail where version_id=#{version_id}
    </select>
    <select id="getAllCompletionById" resultType="java.util.Map">
        select * from version_completion_detail where version_id=#{version_id}
    </select>
    <select id="getAllEvaluationById" resultType="java.util.Map">
        select * from version_evaluation_detail where version_id=#{version_id}
    </select>
</mapper>