<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.KGMS.mapper.VesselMapper">
    <select id="findAllVessel" resultType="com.group.KGMS.entity.T_vessel">
        select * from t_vessel
    </select>
    <select id="search" parameterType="com.group.KGMS.entity.RuleForm" resultType="com.group.KGMS.entity.T_vessel">
        select * from t_vessel where ${key} like concat('%',#{value},'%')
    </select>
    <select id="findById" parameterType="int" resultType="com.group.KGMS.entity.T_vessel">
        select * from t_vessel where id = #{id}
    </select>
    <select id="findByTaskid" parameterType="int" resultType="com.group.KGMS.entity.T_vessel">
        select * from t_vessel where task_id = #{task_id}
    </select>
    <insert id="save" parameterType="com.group.KGMS.entity.T_vessel" >
        insert into t_vessel(name,picture,description,manufacturer,product_date,launch_time,service_time,status,subtype,length,width,crew_num,full_load_displacement,speed,type)
        values(#{name},#{picture},#{description},#{manufacturer},#{product_date},#{launch_time},#{service_time},#{status},#{subtype},#{length},#{width},#{crew_num},#{full_load_displacement},#{speed},#{type})
    </insert>
    <update id="update" parameterType="com.group.KGMS.entity.T_vessel" >
        update t_vessel
        <set>
            name= #{name},
            picture=#{picture},
            description=#{description},
            manufacturer=#{manufacturer},
            product_date=#{product_date},
            launch_time=#{launch_time},
            service_time=#{service_time},
            status=#{status},
            subtype=#{subtype},
            length=#{length},
            width=#{width},
            crew_num=#{crew_num},
            full_load_displacement=#{full_load_displacement},
            speed=#{speed},
            type=#{type}
        </set>
        where id = #{id}
    </update>
    <delete id="delete" parameterType="int" >
        delete from t_vessel where id = #{id}
    </delete>
    <update id="deleteTaskid" parameterType="int" >
        update t_vessel
        <set>
            task_id = null
        </set>
        where task_id = #{task_id}
    </update>
    <update id="saveTaskid" parameterType="int" >
        update t_vessel
        <set>
            task_id = #{task_id}
        </set>
        where id = #{id}
    </update>
</mapper>
